{% extends "base.html" %}

{% block title %}Projects page{% endblock %}
{% block content %}
<div class="container mt-5">
    <form method="POST" action="{{ url_for('routes.insert_project') }}" >
        {{ form.hidden_tag() }}
        <fieldset>
            <div class="mb-3">
                {{ form.PROJECT_NAME.label(class="form-label") }}
                {{ form.PROJECT_NAME(class="form-control {% if form.PROJECT_NAME.errors %}is-invalid{% endif %}") }}
                {% for error in form.PROJECT_NAME.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            </div>
            <!-- Checkbox -->
            <div class="mb-3 form-check">
                {{ form.EXCLUDED(class="form-check-input", type="checkbox") }}
                {{ form.EXCLUDED.label(class="form-check-label") }}
            </div>
        </fieldset>
        <div class="d-grid">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{% endblock %}
